* {
  background-color: #FEE3A2;
  margin: 0;
  box-sizing: border-box;
}

.contenedor-header {
  display: flex;
  font-size: 40px;
  justify-content: center;
  background-color: #87C159;
  padding: 20px;
  color: #FFFFFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor-descuentos {
  padding: 2rem;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  background-color: #058240;
}

.titulo-desc {
  display: block;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 60px;

}

.contenedor-descuentos img {
  border-radius: 10px 10px 0px 0px;
  display: block;
}

.producto {
  border-radius: 2rem;
}

.producto img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 350px;
}

.descripcion {
  font-size: 30px;
  text-align: center;
  background-color: #ADCACB;
  border-radius: 0px 0px 10px 10px;
}

.contenedor-footer {
  background-color: #87C159;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.contacto {
  padding: 1rem;
  width: 80%;
  height: 25vh;
  display: flex;
  justify-content:space-around;
  background-color: #f3c301;
}

.card-contacto{
  justify-items: center;
  padding: 1rem;
  border: dashed 1px #A5B694 ;
  border-radius: 1rem;
  color: #000000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Times, serif;
}

/*
#058240 
#ADCACB celeste
#F3C301 naranja
*/