* {
  background-color: #fee3a2;
  margin: 0;
  box-sizing: border-box;
}

.contenedor-header {
  display: flex;
  font-size: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #87c159;
  padding: 20px;
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100px;
}

.contenedor-header h2 {
  background-color: transparent;
}

.imagenes1 img {
  height: 30px;
}
.imagenes1 {
  height: 80px;
  background-color: transparent;
  align-content: center;
}

.contenedor-descuentos {
  padding: 2rem;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  background-color: #058240;
  margin-bottom: 2px;
}

.titulo-desc {
  color: #ffffff;
  margin-top: 2px;
  background-color: #058240;
  display: block;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 60px;
  align-content: center;
}

.contenedor-descuentos img {
  border-radius: 10px 10px 0px 0px;
  display: block;
}

.producto {
  border-radius: 2rem;
}

.producto img:hover {
  width: 320px;
  height: 380px;
}

.producto img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 350px;
}

.descripcion {
  font-size: 30px;
  text-align: center;
  background-color: #adcacb;
  border-radius: 0px 0px 10px 10px;
}

.contenedor-productos {
  background-color: transparent;
}

.contenedor-seguridad {
  background-color: transparent;
}

.contenedor-footer {
  background-color: #87c159;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.contacto {
  padding: 1rem;
  width: 80%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  background-color: #f3c301;
}

.card-contacto {
  justify-items: center;
  padding: 1rem;
  /*border: dashed 1px #A5B694 ;*/
  border-radius: 1rem;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif Times,
    serif;
  background-color: transparent;
}

/*
#058240 
#ADCACB celeste
#F3C301 naranja
*/
