* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    --color-principal: #b3c2a7;
    --color-secundario: #99ada2;
    --color-terciario: #d2eadd;
    --color-oscuro:rgba(11, 11, 11, 0.728);
    --color-oscuro2:rgba(81, 76, 76, 0.728);
  }
  
  
  body {
    margin: 0;
    background-color: var(--color-principal);
    transition: 0.4s;
  }
  
  
  
  .contenedorModoOscuro {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .contenedorModoOscuro:hover {
    background-color: #555;
    transform: scale(1.1);
  }
  
  .icono {
    position: absolute;
    font-size: 24px;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  
  /* día */
  
  body:not(.dark) .icono-sol {
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  body:not(.dark) .icono-luna {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Hover en día: ocultar sol*/
  body:not(.dark) .contenedorModoOscuro:hover .icono-sol {
    opacity: 0;
  }
  
  body:not(.dark) .contenedorModoOscuro:hover .icono-luna {
    opacity: 1;
  }
  
  
  /*  noche */
  body.dark .icono-sol {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  body.dark .icono-luna {
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  /* Hover en noche: ocultar luna*/
  body.dark .contenedorModoOscuro:hover .icono-luna {
    opacity: 0;
  }
  
  body.dark .contenedorModoOscuro:hover .icono-sol {
    opacity: 1;
  }
  
  
  
  
  
  
  
  /*Modo oscuro*/
  
  #dark-light-mode {
    width: 30px;
   
  }
  
  .dark 
  {
    background-color: var(--color-oscuro);
    
  }
  
  .dark
  .contenedor-header {
  
    background-color: var(--color-oscuro);
  }
  
  
  
  .dark 
  .nuestros-productos {
    background-color: var(--color-oscuro2);
  }
  
  .dark 
  .card-productos {
  
    background-color: var(--color-oscuro);
  }
  
  .dark
  .contenedor-productos{
  background-color: var(--color-oscuro);
  color: #f0f0f0;
  transition: 0.4s;
  
  
  }
  
  .dark 
  .contenedor-descuentos {
  background-color: var(--color-oscuro);
  color: #f0f0f0;
  transition: 0.4s;
  
  }
  
  .dark 
  .descripcion {
  
    background-color: var(--color-oscuro);
  }
  
  .dark
  .contenedor-seguridad {
  color: var(--color-principal);
  color: #f0f0f0;
  
  }
  
  .dark 
  .contenedor-footer {
  
    background-color: var(--color-oscuro);
    -webkit-text-fill-color:#f0f0f0 ;
  
  }
  
  .dark
  .contenedor-grupo p ,a {
    color: #f0f0f0;
    
  }
  
  
  
  .contenedor-dl-mode {
  margin-left: 90%;
  }
  
  
  /*---------Header--------*/
  .contenedor-header {
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 100px;
    background-color: var(--color-secundario);
  }
  
  .contenedor-header a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .titulPrincipal{
    margin-left: 110px;
  }
  
  .iconos {
    width: 150px;
    height: 80px;
    align-content: center;
  }
  .iconosUl{
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: space-around;
  
  }
  .iconosLi{
    font-size: 20px;
  
  }
  .iconosLi i{
    color: #ffffff;
  }

  
  
  /*-------------------------------*/

